#sendermssg img{
height: 100px;
}
#sendermssg video{
    height: 100px;
    }
    #recivermssg img{
        height: 100px;
        }
        #recivermssg video{
            height: 100px;
            }